<div class="login-section">
    <div class="login-form signup-form">
        <form method="POST" class="animated zoomIn" name="signup-form" enctype="multipart/form-data" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="header">Sign Up <a href="#!"><span class="close-button">x</span></a></div>
            <div class="social-section">
                <div class="main">
                    <button class="button twice facebook" type="button" style="margin-bottom: 10px;">Facebook</button>
                    <button class="button twice google" type="button">Google</button>
                </div>
                <div class="social-section-or">
                    <hr>
                    <span>or</span>
                    <hr>
                </div>
            </div>
            <div class="main">
                <div class="login-form-input">
                    <label for="id_email">E-mail</label>
                    <input type="text" id="id_email" name="email">
                </div>
                <div class="login-form-input">
                    <label for="id_password">Пароль</label>
                    <input type="password" id="id_password" name="password">
                </div>
                <div class="login-form-input">
                    <label for="id_password2">Подтверждение пароля</label>
                    <input type="password" id="id_password2" name="password2">
                </div>
                <div class="login-form-input">
                    <label for="id_first_name">Имя</label>
                    <input type="text" id="id_first_name" name="first_name">
                </div>
                <div class="login-form-input">
                    <label for="id_last_name">Фамилия</label>
                    <input type="text" id="id_last_name" name="last_name">
                </div>
                <div class="login-form-input">
                    <label for="id_location">Местоположение</label>
                    <input type="text" id="id_location" name="location">
                </div>
                <div class="login-form-input">
                    <label for="id_teacher">Вы хотите быть преподавателем?</label>
                    <select type="text" id="id_teacher" name="teacher">
                        <option value="no">Нет</option>
                        <option value="yes">Да</option>
                    </select>
                </div>
                <div class="login-form-input about-me" style="display: none;">
                    <label for="id_about">Обо мне</label>
                    <textarea type="text" id="id_about" name="about"></textarea>
                </div>
                <!--
                <div class="login-form-input">
                    <label for="id_avatar">Аватар</label>
                    <input type="file" id="id_avatar" name="avatar" accept="image/*">
                </div>
                -->
                <input type="hidden" id="id_city" name="city">
                <input type="hidden" id="id_country" name="country">
                <button class="button block" type="submit" name="submit">Регистрация</button>
                <a href="#" class="login-link button block link">Войти</a>
            </div>
        </form>
    </div>
</div>
