{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="profile-section">
  <div class="header">
    <div class="background-image"></div>
    <div class="header-avatar"></div>
  </div>
<div class="container">
  <div class="main">
      <div class="main-about">
          <h2 class="text-center">{{ user.get_full_name }}</h2>
          <h3 class="text-center">{{ user.city }}, {{ user.country }}</h3>
          {% if user.tutors %}
            <p>{{ user.tutors.first.about }}</p>
          {% endif %}
      </div>
      {% if user.tutors %}
      <div class="main-jobs">
          <div class="row">
            <h1 class="col-md-12">Навыки</h1>
        {% for job in user.tutors.first.jobs.all|slice:":3" %}
            <div class="col-md-3">
                <div class="border-block red-hover">
                    <div class="border-block-text">
                        <div class="title">{{ job.title }}</div>
                        <div>{{ job.price }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <div class="col-md-3">
                <div class="border-block bg-red text-white with-arrow">
                    <div class="border-block-text">
                        <div class="title">Подробнее...</div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      {% endif %}
      <div class="main-achievements">
          <div class="row">
            <h1 class="col-md-12">Достижения</h1>
      {% for ach in user.achievments.all|slice:":3" %}
            <div class="col-md-3">
                <div class="border-block green-hover">
                    <div class="border-block-text">
                        <div class="title">{{ ach.text }}</div>
                    </div>
                </div>
            </div>

      {% endfor %}
            <div class="col-md-3">
                <div class="border-block bg-green text-white with-arrow job-create-link">
                    <div class="border-block-text">
                        <div class="title">Подробнее...</div>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-job-create">{% include "modals/job-create.html" %}</div>
{% endblock content %}
