{% load static %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta itemprop="name" property="og:title" name="og:title" content="F">
    <meta itemprop="description" property="og:description" name="og:description" content="">
    <meta property="og:type" name="og:type" content="website">
    <meta property="og:url" name="og:url" content="">
    <meta property="og:image" name="og:image" content="">
    <meta property="og:site_name" name="og:site_name" content="">
    <meta property="og:brand" name="og:brand" content="">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="application-name" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="">
    <meta name="theme-color" content="#ffffff">
    <meta name="msvalidate.01" content="" />
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/jquery.fullpage.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
    <div class="modal" id="modal-login">{% include "modals/login.html" %}</div>
    <div class="modal" id="modal-signup">{% include "modals/signup.html" %}</div>
    {% include "components/navbar.html" %}
    {% block content %}{% endblock content %}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.5/sweetalert2.all.min.js"></script>
    <script src="{% static "js/jquery.fullpage.min.js" %}"></script>
    <script src="{% static "js/jquery.fullpage.extensions.min.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% block extra_body %}{% endblock extra_body %}
</body>

</html>
{% endspaceless %}
