{% extends "base.html" %}
{% block title %}Home page{% endblock title %}

{% block extra_head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css">
{% endblock extra_head %}

{% block content %}
    <div id="full-page">
        <div id="search-section" class="section bg-image">
            <div class="info">
                <h1 class="text-center text-white mb-5 pacifico">Поищем?</h1>
                <form class="justify-content-center" method="GET" action="{% url 'accounts:search_results' %}">
                  <select class="category-search" placeholder="Search for..." name="category" id="id_category"></select>
                  <button class="button block mt-3" type="submit">Go!</button>
                </form>
            </div>
        </div>
        <div id="category-section" class="section bg-image text-center">
            <div class="container">
                <h1 class="pacifico" style="margin-bottom: 20px;">Найдите то, что ищете</h1>
                <div class="card-deck">
                  {% for category in categories|slice:":3" %}
                  <div class="card">
                    <div class="category-avatar" style="{% if category.image %}background-image: url({{ category.image.url }});{% endif %}"></div>
                    <div class="card-body">
                      <h4 class="card-title mb-0">{{ category.title }}</h4>
                    </div>
                  </div>
                  {% endfor %}
                <div class="card-deck" style="margin-top: 20px;">
                  {% for category in categories|slice:":3" %}
                  <div class="card">
                    <div class="category-avatar" style="{% if category.image %}background-image: url({{ category.image.url }});{% endif %}"></div>
                    <div class="card-body">
                      <h4 class="card-title mb-0">{{ category.title }}</h4>
                    </div>
                  </div>
                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="section about-section bg-image text-center">
          <div class="container">
              <h1 class="pacifico" style="margin-bottom: 20px;">О команде</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptatem reiciendis eos magni, voluptatum perspiciatis nobis enim laboriosam. Quidem possimus ipsum, atque blanditiis nulla aperiam dolore iste tempora obcaecati ea, ducimus inventore sed minus repudiandae perferendis mollitia est illo nam harum ex. Harum deserunt aperiam adipisci voluptate, qui totam fuga! Perferendis sed iusto, similique, illum iure totam ad temporibus tempora voluptates odit. Asperiores corporis sed veritatis nulla, debitis! Ipsam voluptatum possimus voluptatem dolorem id quaerat distinctio similique voluptates facilis dignissimos nesciunt reprehenderit, ut ipsum, saepe facere blanditiis inventore placeat earum tempora? Voluptate amet enim facilis, cupiditate corporis repudiandae maiores at.</p>
          </div>
        </div>
    </div>
{% endblock content %}

{% block extra_body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script>
$('.category-search').select2({
  theme: 'bootstrap',
  width: '100%',
  ajax: {
    url: '{% url 'jobs:category-autocomplete' %}',
    dataType: 'json'

  }
});</script>
{% endblock extra_body %}

