{% extends "base.html" %}
{% block title %}Home page{% endblock title %}
{% block content %}
    <section>
        <div class="section-header">Description</div>Temporibus voluptatibus sed, at consequuntur excepturi vero recusandae iste voluptas optio molestiae nihil tenetur illum culpa. Dolorem ab maiores sequi, vero alias beatae, repellat explicabo fugiat atque qui assumenda ratione similique rerum totam consequuntur sit reprehenderit sint accusantium iste nulla quasi nobis vel! Sapiente quos est atque tenetur consequuntur incidunt.
    </section>
    <section>
        <div class="section-header">Advantages</div>Temporibus voluptatibus sed, at consequuntur excepturi vero recusandae iste voluptas optio molestiae nihil tenetur illum culpa. Dolorem ab maiores sequi, vero alias beatae, repellat explicabo fugiat atque qui assumenda ratione similique rerum totam consequuntur sit reprehenderit sint accusantium iste nulla quasi nobis vel! Sapiente quos est atque tenetur consequuntur incidunt.
    </section>
    <section>
        <div class="section-header">About us</div>Temporibus voluptatibus sed, at consequuntur excepturi vero recusandae iste voluptas optio molestiae nihil tenetur illum culpa. Dolorem ab maiores sequi, vero alias beatae, repellat explicabo fugiat atque qui assumenda ratione similique rerum totam consequuntur sit reprehenderit sint accusantium iste nulla quasi nobis vel! Sapiente quos est atque tenetur consequuntur incidunt.
    </section>
{% endblock content %}
