{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="profile-section">
  <div class="header">
    <div class="background-image"></div>
    <div class="header-avatar"></div>
  </div>
<div class="container">
  <div class="main">
      <div class="main-about">
          <h2 class="text-center">Max Saykov</h2>
          <h3 class="text-center">Kharkov, UA</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aut quasi, numquam consequuntur blanditiis enim. Nam atque est minima quas.</p>
      </div>
      <div class="main-jobs">
          <div class="row">
            <h1 class="col-md-12">Навыки</h1>
            <div class="col-md-3">
                <div class="border-block red-hover">
                    <div class="border-block-text">
                        <div class="title">Английский</div>
                        <div>$20/час</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border-block red-hover">
                    <div class="border-block-text">
                        <div class="title">Английский</div>
                        <div>$20/час</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border-block red-hover">
                    <div class="border-block-text">
                        <div class="title">Курс С++</div>
                        <div>$50/курс</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border-block bg-red text-white with-arrow">
                    <div class="border-block-text">
                        <div class="title">Подробнее...</div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="main-achievements">
          <div class="row">
            <h1 class="col-md-12">Достижения</h1>
            <div class="col-md-3">
                <div class="border-block green-hover">
                    <div class="border-block-text">
                        <div class="title">Диплом бакалавра</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border-block green-hover">
                    <div class="border-block-text">
                        <div class="title">Диплом магистра</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border-block green-hover">
                    <div class="border-block-text">
                        <div class="title">Курс на Coursera</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border-block bg-green text-white with-arrow job-create-link">
                    <div class="border-block-text">
                        <div class="title">Подробнее...</div>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-job-create">{% include "modals/job-create.html" %}</div>
{% endblock content %}
