{% extends "base.html" %}
{% block extra_head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css">
{% endblock extra_head %}
{% block content %}
<div class="search-section">
  <div class="container">
    <div class="search-form">
      <form>
        <div class="row">
          <div class="col-md-10">
            <select class="category-search form-inline" placeholder="Search for..." name="category" id="id_category"></select>
          </div>
          <div class="col-md-2">
            <button class="button block" type="submit">Поиск</button>
          </div>
        </div>
      </form>
    </div>
    <div class="search-results">
      <div class="row">
          {% for tutor in tutors %}
          <div class="col-md-3 mb-2">
          <a href="{% url 'accounts:profile' tutor.user.pk %}">
              <div class="results-block">
                <div class="avatar" style="background-image: url('{% if tutor.user.avatar %}{{ tutor.user.avatar }}{% endif %}');"></div>
                <div class="info">
                  <div class="name">{{ tutor.user.last_name }} {{ tutor.user.first_name.0 }}.</div>
                  <div class="skills">
                    <ul>
                      {% for job in tutor.jobs.all %}
                      <li>{{ job.title }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
          </a>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script>
$('.category-search').select2({
  theme: 'bootstrap',
  width: '100%',
  ajax: {
    url: '{% url 'jobs:category-autocomplete' %}',
    dataType: 'json'

  }
});</script>
{% endblock extra_body %}
